:root {
    color-scheme: dark;
    --font-family: monospace, monospace;
    --front-color: #8a8373; 
    --active-color: #b4b6b0;
    --unread-color: #94b4bb; 
    --back-color: #261e13;
    --modal-backgound-color: #261e13;
    --input-background-color: #63543d;
    --button-background-color: none;
    --input-color: #fff;
    --zoom-range: 18px;
}
/*
.command_usage {
    color: var(--button-background);
}

body {
    background-color: var(--modal-backgound);
}
::placeholder {
  color: var(--border-color);
  font-family: monospace, monospace;
}
*/

input,
input[type="text"] {
    color: var(--input-color);
}

.time {
    color : var(--input-background-color);
}

.room_list {
    text-align: center;
}

.default_msg {
    color: #E3242B;
    text-align: center;
}
.new_room {
    font-weight: bold;
    color: var(--back-color);
    background: var(--input-background-color);
    border-radius: 12px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}