:root {
    color-scheme: dark;
    --font-family: monospace, monospace;
    --border-color: #8a8373; /* light brownish */
    --active-color: #b4b6b0; /* blueish */
    --unread-color: #94b4bb; /* orangish */
    --modal-backgound: #261e13; /* dark brownish */
    --input-background: #63543d; /* brownish */
    --button-background: #63543d;

}

body {
    background-color: var(--modal-backgound);
}
::placeholder {
  color: var(--border-color);
  font-family: monospace, monospace;
}

input {
    font-family: monospace, monospace;
}

.send_area {
    background-color: var(--input-background);
    border-radius: 20px;
}

.time {
    color : var(--input-background);
}
