:root {
    color-scheme: dark;
    --border-color: #ccc;
    --active-color: green;
    --unread-color: orange;
    --modal-backgound: rgba(26, 26, 26, 0.664);
    --button-background: #555657;
}

body {
  
}
::placeholder {
  
}
